# Ignore System Junk
.DS_Store
Thumbs.db
desktop.ini

# Ignore Python/Programming Cache
__pycache__/
*.py[cod]
*$py.class

# Ignore Secret Keys (Don't leak these!)
.env
*.pem
*.key

# Ignore local drive metadata
$RECYCLE.BIN/
System Volume Information/
